@page "/Office/Edit/{Id:int}"

@layout ProvostLayout2

@*@inject NavigationManager NavigationManager*@

@inject OfficesService OffService

@inject DahFIMSDbContext db

@using DAH_FIMS.Model;
@using DAH_FIMS.Services;

<br />
<h4>Edit Office</h4>
<br />
<form>
    <fieldset>
        <EditForm Model="office" OnValidSubmit="Editoffice">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @*<div class="form-group">
            <label for="first-name">First Name:*</label>
            <InputText id="name" @bind-Value="office.EMPLOYEE.FirstName" class="form-control" placeholder="Enter Fisrt Name" />
            <ValidationMessage For="@(() => office.EMPLOYEE.FirstName)" />
        </div>*@

            @*<div class="form-group">
            <label for="last-name">Last Name:*</label>
             <InputText id="last-name" @bind-Value="office.EMPLOYEE.LastName" class="form-control" placeholder="Enter Last Name" />
            <ValidationMessage For="@(() => office.EMPLOYEE.LastName)" />
        </div>*@

            @*<div class="form-group">
            <label for="positionTitle">Position Title:*</label>
            <InputText id="positionTitle" @bind-Value="office.EMPLOYEE.POSITION.PositionTitle" class="form-control" placeholder="Enter Position Title" />
            <ValidationMessage For="@(() => office.EMPLOYEE.POSITION.PositionTitle)" />
        </div>*@


            <div class="row">
                <label class="col-form-label col-sm-2 pt-0">Job Type:*</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Full-Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Part-Time
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="officeNumber" class="col-sm-2 col-form-label">Office Number:*</label>
                <div class="col-sm-5">
                    <InputText id="officeNumber" @bind-Value="office.OfficeNumber" class="form-control" />
                    <ValidationMessage For="@(() => office.OfficeNumber)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="officeArea" class="col-sm-2 col-form-label">Office Area:*</label>
                <div class="col-sm-5">
                    <InputText id="officeArea" @bind-Value="office.OfficeArea" class="form-control" />
                    <ValidationMessage For="@(() => office.OfficeArea)" />
                </div>
            </div>

            @*<div class="form-group">
            <label for="phoneExtension">Phone Extension:*</label>
            <InputText id="phoneExtension" @bind-Value="office.EMPLOYEE.PhoneExtension" class="form-control" placeholder="Ext 230" />
            <ValidationMessage For="@(() => office.EMPLOYEE.PhoneExtention)" />
        </div>*@


            <div class="form-group row">
                <div class="col-sm-2">Available Resources:*</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Desk
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck2">
                            Chairs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3">
                        <label class="form-check-label" for="gridCheck3">
                            Cabinets
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck4">
                        <label class="form-check-label" for="gridCheck4">
                            Door Sign
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck5">
                        <label class="form-check-label" for="gridCheck5">
                            Phone
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck6">
                        <label class="form-check-label" for="gridCheck6">
                            Computer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck7">
                        <label class="form-check-label" for="gridCheck7">
                            Printer
                        </label>
                    </div>
                    <div class="form-group col-5">
                        <InputText id="other" @bind-Value="office.AvailableResources" class="form-control" placeholder="Other" />
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="mt-2"></div>

            <center>
                <button type="submit" class="button">Save</button>
                <a href="/Office/List" class="button" role="button">Cancel</a>
            </center>

        </EditForm>
    </fieldset>
</form>

<br />

<p>@message</p>


@code {

    [Parameter]
    public int Id { get; set; }

    OFFICE office = new OFFICE();

    string message;

    protected override void OnInitialized()
    {
        office = OffService.GetOffice(Id);
    }

    public void Editoffice()
    {
        // Edit Office
        OffService.Editoffice(office);

        message = "Office assggnment is edited successfully";

        //NavigationManager.NavigateTo("Office/List");
    }

}