@page "/Office/Details/{Id:int}"

@layout ProvostLayout2

@inject OfficesService OffService
@inject EmployeeService EmpService

<h4>Office Details</h4>

<fieldset>
    <table class="table table-borderless">
        <tr>
            <th scope="row">First Name: </th>
            <td>@employee.FirstName</td>
        </tr>
        <tr>
            <th scope="row">Last Name: </th>
            <td>@employee.LastName</td>
        </tr>
        <tr>
            <th scope="row">Position Title: </th>
            <td>@employee.Position.PositionTitle</td>
        </tr>
        <tr>
            <th scope="row">Job Type: </th>
            <td>@employee.IsItPartTime</td>
        </tr>
        <tr>
            <th scope="row">Office Number: </th>
            <td>@office.OfficeNumber</td>
        </tr>
        <tr>
            <th scope="row">Office Area: </th>
            <td>@office.OfficeArea</td>
        </tr>
        <tr>
            <th scope="row">Phone Extension: </th>
            <td>@employee.PhoneExtension</td>
        </tr>
        <tr>
            <th scope="row">Available Resources: </th>
            <td>@office.AvailableResources</td>
        </tr>
    </table>
</fieldset>
<br />
<center>
    <a href="/Office/List" class="button" role="button">Cancel</a>
</center>



@code {

    OFFICE office = new OFFICE();
    EMPLOYEE employee = new EMPLOYEE();


    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        office = OffService.GetOffice(Id);
        employee = EmpService.GetEmployee(Id);
    }
}
