@page "/DoorSignRequest/Add"

@layout ProvostLayout2

@using DAH_FIMS.Model
@using DAH_FIMS.Services
@using Microsoft.AspNetCore.Components.Forms


@inject OfficesService OffService
@inject ResourcesService ResService
@inject RequestsService ReqService
@inject EmployeeService EmpService
@inject NavigationManager NavigationManager
@inject DahFIMSDbContext db

<br />
<h4>Door Sign Request</h4>
<br />
<form action="/" method="get" id="DoorSignRequest">
    <fieldset>
        <EditForm Model="dRequest" OnValidSubmit="AddRequest">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @*<div class="form-group row">
        <label for="officeNumber" class="col-sm-2 col-form-label">Office Number:*</label>
        <div class="col-sm-5">
        <InputText id="officeNumber" @bind-Value="dRequest.Office.OfficeNumber" class="form-control" placeholder="Enter Office Number" />
        <ValidationMessage For="@(() => dRequest.Office.OfficeNumber)" />
        </div>
        </div>*@

            @*<div class="form-group row">
        <label for="first-nameE" class="col-sm-2 col-form-label">Person First Name In English:*</label>
        <div class="col-sm-5">
        <InputText id="first-nameE" @bind-Value="dRequest.Employee.Employee.FirstName" class="form-control" placeholder="Enter First Name In English" />
        <ValidationMessage For="@(() => dRequest.Employee.Employee.FirstName)" />
        </div>
        </div>*@

            @*<div class="form-group row">
        <label for="last-nameE" class="col-sm-2 col-form-label">Person Last Name In English:*</label>
        <div class="col-sm-5">
        <InputText id="last-nameE" @bind-Value="dRequest.Employee.Employee.LastName" class="form-control" placeholder="Enter Last Name In English" />
        <ValidationMessage For="@(() => dRequest.Employee.Employee.LastName)" />
        </div>
        </div>*@

            @*<div class="form-group row">
        <label for="first-nameA" class="col-sm-2 col-form-label">Person First Name In Arabic:*</label>
        <div class="col-sm-5">
        <InputText id="first-nameA" @bind-Value="dRequest.Employee.Employee.FirstName" class="form-control" placeholder="Enter First Name In Arabic" />
        <ValidationMessage For="@(() => dRequest.Employee.Employee.FirstName)" />
        </div>
        </div>*@

            @*<div class="form-group row">
        <label for="last-nameA" class="col-sm-2 col-form-label">Person Last Name In Arabic:*</label>
        <div class="col-sm-5">
        <InputText id="last-nameA" @bind-Value="dRequest.Employee.Employee.LastName" class="form-control" placeholder="Enter Last Name In Arabic" />
        <ValidationMessage For="@(() => dRequest.Employee.Employee.LastName)" />
        </div>
        </div>*@

            @*<div class="form-group row">
        <label for="position-titleE" class="col-sm-2 col-form-label">Position Title In English:*</label>
        <div class="col-sm-5">
        <InputText id="position-titleE" @bind-Value="dRequest.Employee.Employee.Position.PositionTitle" class="form-control" placeholder="Enter Position Title In English" />
        <ValidationMessage For="@(() => dRequest.Employee.Employee.Position.PositionTitle)" />
        </div>
        </div>*@

            <div class="form-group row">
                <label for="department" class="col-sm-5 col-form-label">Responsible Department:*</label>
                <div class="col-sm-5">
                    <select id="department" class="form-control">
                        <option selected>---Select a Department---</option>
                        <option>IT</option>
                        <option>Maintanance</option>
                        <option>Information Desk</option>
                    </select>
                </div>
            </div>
           
            <div class="form-group row">
                <label for="department" class="col-sm-5 col-form-label">Request Status:*</label>
                <div class="col-sm-5">
                    <select id="department" class="form-control">
                        <option selected>---Select a Status---</option>
                        <option>Pending</option>
                        <option>Cancel</option>
                    </select>
                </div>
            </div>
       
            <div class="form-group row">
                <label for="requestDateTime" class="col-sm-5 col-form-label">Request Date & Time:*</label>
                <div class="col-sm-5">
                    <input type="datetime-local" name="requestDateTime" @bind="dRequest.RequestDateTime">
                </div>
            </div>
      
            <div class="form-group row">
                <label for="deliveryDateTime" class="col-sm-5 col-form-label">Delivery Date & Time:*</label>
                <div class="col-sm-5">
                    <input type="datetime-local" name="deliveryDateTime" @bind="dRequest.DeliveryDateTime">
                </div>
            </div>
  
                <div class="form-group row">
                    <label for="note" class="col-sm-5 col-form-label">Note:</label>
                    <div class="col-sm-5">
                        <InputText id="note" @bind-Value="dRequest.Note" class="form-control" />
                        <ValidationMessage For="@(() => dRequest.Note)" />
                    </div>
                </div>
                <br />
                <br />

                <center>
                    <button type="submit" class="button">Save</button>
                    <a href="/Office/List" class="button" role="button">Cancel</a>
                </center>
</EditForm>
    </fieldset>
</form>


@code {
    REQUEST dRequest = new REQUEST();

    private void AddRequest()
    {

        ReqService.AddRequest(dRequest);

        dRequest = new REQUEST();
    }
}
