@page "/Faculties"

@inject FacultyService Service



<h3>Faculties</h3>


@*<a href="Profile/Add">
    <span class="oi oi-plus"></span> &nbsp;
    Add New Customer
</a>


<div class="mt-2"></div>

@if (faculties == null)
{
    <div class="d-flex align-items-center">
        <strong>Loading data ...</strong>
        <div class="spinner-border ml-auto"></div>
    </div>
}

else
{
    <table class=" table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position Title</th>
                <th>Type of Contract</th>
                <th>School Name</th>
                <th>Department Name</th>
                <th>Reqruitment Status</th>
                <th>Tasks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in faculties)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td class="text-center">@item.Position.PositionTitle</td>
                    <td class="text-center">@item.FACULTY.TypeOfContract</td>
                    <td class="text-center">@item.Department.School.SchoolName</td>
                    <td class="text-center">@item.Department.DepartmentName</td>
                    <td class="text-center">@item.FACULTY.RecruitmentStatus</td>
                    <td>
                        <a href="Profile/Details/@item.EmployeeId"><span class="oi oi-list"></span></a> &nbsp;
                        <a href="Databank/@item.EmployeeId"><span class="oi oi-folder"></span></a> &nbsp;
                        <a href="Profile/Edit/@item.EmployeeId"><span class="oi oi-pencil"></span></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    List<EMPLOYEE> faculties;

    protected override void OnInitialized()
    {
        faculties = Service.GetFaculties();
    }
}*@

