@page "/Profile/Details/{Id:int}"

@layout ProvostLayout2

@inject EmployeeService EmpService

<h4>Profile Details</h4>
<table class="table table-hover">
    <tr>
        <td>First Name: </td>
        <td>@employee.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@employee.LastName</td>
    </tr>
    <tr>
        <td>Mobile Number:</td>
        <td>@employee.FACULTY.MobileNumber</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>@employee.EmailAdress</td>
    </tr>
    <tr>
        <td>Date of Birth:</td>
        <td>@employee.FACULTY.DateOfBirth?.ToString("dd-mm-yyyy")</td>
    </tr>
    <tr>
        <td>Martial Status:</td>
        <td>@employee.FACULTY.Status</td>
    </tr>
    <tr>
        <td>Nationality:</td>
        <td>@employee.FACULTY.Nationality</td>
    </tr>
    <tr>
        <td>Highest Education:</td>
        <td>@employee.FACULTY.HighestEducation</td>
    </tr>
    <tr>
        <td>Institution:</td>
        <td>@employee.FACULTY.Institution</td>
    </tr>
    <tr>
        <td>Division:</td>
        <td>@employee.FACULTY.Division</td>
    </tr>
    <tr>
        <td>School Name:</td>
        <td>@employee.Department.School.SchoolName</td>
    </tr>
    <tr>
        <td>Department Name:</td>
        <td>@employee.Department.DepartmentName</td>
    </tr>
    <tr>
        <td>Position Title:</td>
        <td>@employee.Position.PositionTitle</td>
    </tr>
    <tr>
        <td>Type of Contract:</td>
        <td>@employee.FACULTY.TypeOfContract</td>
    </tr>
    <tr>
        <td>Phone Extension:</td>
        <td>@employee.PhoneExtension</td>
    </tr>
    <tr>
        <td>Office Number:</td>
        <td>@employee.Office.OfficeNumber</td>
    </tr>
    <tr>
        <td>Date Needed:</td>
        <td>@employee.FACULTY.DateNeeded?.ToString("dd-mm-yyyy")</td>
    </tr>
    <tr>
        <td>Reqruitment Status:</td>
        <td>@employee.FACULTY.RecruitmentStatus</td>
    </tr>
    <tr>
        <td>Application Date:</td>
        <td>@employee.FACULTY.ApplicationDate?.ToString("dd-mm-yyyy")</td>
    </tr>
    <tr>
        <td>Hiring Date:</td>
        <td>@employee.FACULTY.HiringDate?.ToString("dd-mm-yyyy")</td>
    </tr>
    <tr>
        <td>Rank:</td>
        <td>@employee.FACULTY.Rank</td>
    </tr>
    <tr>
        <td>Required Load:</td>
        <td>@employee.FACULTY.RequiredLoad</td>
    </tr>
    <tr>
        <td>Conversion Rate:</td>
        <td>@employee.FACULTY.ConversionRate</td>
    </tr>
    <tr>
        <td>Relesse Date:</td>
        <td>@employee.FACULTY.ReleaseDate?.ToString("dd-mm-yyyy")</td>
    </tr>
    <tr>
        <td>Hiring Documents:</td>
        <td>@employee.FACULTY.HIRING_DOCUMENTs</td>
    </tr>
</table>
<br />
<center>
    <a href="/Faculty/List" class="button" role="button">Cancel</a>
</center>


@code {

    EMPLOYEE employee = new EMPLOYEE();

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        employee = EmpService.GetEmployee(Id);
    }
}